<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Khaoyai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFE871881BDF3355003BE1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE8719F1BDF3355003BE1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE871AA1BDF3355003BE1F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
